
.grid{
    grid-template-columns: repeat(2, 50%);
    column-gap: auto;
}

.hero_section-introduction{
    padding: 5rem 0 1rem 2rem;
}

.hero_section-image {
    width: 95%;
}

.hero_section-introduction > q {
    text-align: center;
    font-size: var(--smaller-font-size);
}


/*=============== BREAKPOINTS ===============*/
  
  /* For medium devices */
 @media screen and (max-width: 768px) {

    .grid{
        grid-template-columns: repeat(2, 50%);
        column-gap: auto;
    }
    
    .hero_section-introduction{
        padding: 3rem 0 0.5rem 1.5rem;
        margin-top: 5rem;
    }

    .hero_section-image{
        margin-top: 5rem;
    }

    .hero_section-image > img {
        width: 95%;
    }
    
  }

 @media screen and ( max-width: 576px){
    .grid{
        grid-template-columns: 1fr;
    }
    
    .hero_section-introduction{
        padding: 1.5rem 0 0.5rem 1.5rem;
        height: 200px;
    }

    .hero_section-image{
        margin-top: 0rem;
    }

    .hero_section-image > img {
        height: 255px;
        width: 100%;
    }
  }

 @media screen and ( max-width: 376px){

    .hero_section-introduction > h1 {
        font-size: var(--h2-font-size); 
    }

     .quote, .paragraph, .cite{
        font-size: var(--small-font-size);
    } 
    
  }